<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Admin</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color:white;
    }

    .container {
      margin-top: 100px;
    }

    .jumbotron {
      background-color: #fff;
      padding: 40px;
      border-radius: 10px;
      text-align: center;
      width: 70%; /* Updated width */
      margin: 0 auto; /* Center-align the jumbotron */
    }

    .admin-avatar {
      width: 150px;
      border-radius: 50%;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="jumbotron">
          <img src="assets/final pic.png" alt="Admin Avatar" class="admin-avatar">
          <h2 class="mt-4">Welcome,Si <span id="admin-name">{{currentAdmin.username}}</span></h2>
          <p class="lead">Thank you for logging in as an<b> admin</b> . We're glad to have you on board!</p>
        </div>
      </div>
    </div>
  </div>
</body>


</html>
